n8n/workflows/signal_to_telegram.json
{
  "nodes": [
    {
      "parameters": { "path": "signal", "responseMode": "ON_RECEIVED" },
      "name": "TradingView Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "url": "http://screenshot:8000/screenshot",
        "options": {
          "queryParameters": {
            "symbol": "={{$json[\"symbol\"]}}",
            "interval": "={{$json[\"interval\"]}}"
          }
        }
      },
      "name": "Screenshot API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "chatId": "={{$env[\"TELEGRAM_CHANNEL_ID\"]}}",
        "text": "New {{ $json.symbol }} {{ $json.interval }} signal just fired!",
        "additionalFields": {
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": "[[{\"text\":\"Powered by TradingWhale\",\"url\":\"https://tradingwhale.io\"}]]"
        },
        "attachments": "={{$binary.data}}"
      },
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "TradingView Webhook": { "main": [[{ "node": "Screenshot API", "type": "main", "index": 0 }]] },
    "Screenshot API":      { "main": [[{ "node": "Send to Telegram", "type": "main", "index": 0 }]] }
  }
}
